// COLORS
$color-primary: orangered;
$color-white: #ffffff;
$color-light-colar: #f67e7e;
$color-midnight-green: #014e56;
$color-rapture-blue: #79c8c7;
$color-police-blue: #2c6269;
$color-jungle-green: #004047;
$color-dark-green: #002529;
$color-state-green: #012f34;

// FONTS
$font-stack: "Arial", sans-serif;
$font-livvic: 'Livvic', sans-serif;
