.site-main__section {
    position: relative;
    z-index: 1;
    padding-top: 140px;
    padding-bottom: 168px;
    background-color: $color-jungle-green;
}
.site-main__section-heading {
    padding: 0;
    margin: 0;
    margin-bottom: 64px;
    font-family: $font-livvic;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: $color-white;
}
.site-main__list {
    @include list-unstyled;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.site-main__item {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 350px;
    padding-top: 35px;
    padding-bottom: 56px;
    margin-bottom: 76px;
    text-align: center;
    background-color: $color-state-green;
}
.site-main__item-img {
    border-radius: 50%;
}
.site-main__item-name {
    padding: 0;
    margin: 0;
    margin-top: 13px;
    font-family: $font-livvic;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: $color-rapture-blue;
}
.site-main__item-text {
    padding: 0;
    margin: 0;
    font-family: $font-livvic;
    font-size: 15px;
    line-height: 25px;
    color: $color-white;
}
.site-main__item-btn {
    position: absolute;
    z-index: 1;
    top: 88%;
    left: 43%;
    padding: 20px 22px;
    background-color: $color-light-colar;
    border: none;
    border-radius: 50%;
    // transition: background-color 0.3s ease;
    &:hover{
        background-color: $color-rapture-blue;
    }
}
.site-main__item-btn-img{
    text-align: center;
}
.site-main__section-img{
    position: absolute;
    z-index: 1;
    top: 0;
    left: calc(50% - 786px);
}
.site-main__section-img-bottom{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: calc(50% - 730px);
}
.site-main__item-btn-content {
    display: none;
}
.site-main__item-btn-name {
    margin-top: 0;
    margin-bottom: 8px;
    font-family: $font-livvic;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: $color-rapture-blue;
}
.site-main__item-btn-text {
    width: 100%;
    max-width: 235px;
    margin: 0 auto;
    margin-top: 0;
    margin-bottom: 24px;
    font-family: $font-livvic;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: $color-white;
}
.site-main__item-btn-image{
    margin-right: 16px;
}
.directors-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -30px;
  margin-bottom: -76px;
  padding: 0;
  list-style: none;
}

.directors-list__item {
  width: 350px;
  margin-left: 30px;
  margin-bottom: 76px;
}

.director-card {
  position: relative;
  z-index: 1;
  padding-bottom: 56px;
  background-color: #012F34;
  perspective: 1000px;
}

.director-card__front {
  display: flex;
  flex-direction: column;
  place-items: center;
  backface-visibility: hidden;
  transition: transform 0.3s ease;
  background-color: dodgerblue;
}

.director-card--back-visible
.director-card__front {
  transform: rotateY(180deg);
}

.director-card__img {
  width: 96px;
  height: 96px;
  border: 2px solid #C4FFFE;
  border-radius: 50%;
}

.director-card__back {
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  padding-bottom: 56px;
  flex-direction: column;
  place-items: center;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.3s ease;
  background-color: lightgreen;
  overflow: auto;
}

.director-card--back-visible
.director-card__back {
  transform: rotateY(360deg);
}

.director-card__toggler {
  width: 56px;
  height: 56px;
  position: absolute;
  z-index: 1;
  bottom: -28px;
  left: calc(50% - 28px);
  background-color: #F67E7E;
  background-image: url(../img/icon-plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.director-card--back-visible
.director-card__toggler {
  transform: rotate(45deg);
  background-color: #79C8C7;
}

::-webkit-scrollbar {
  width: 10px;
}
  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  ::-webkit-scrollbar-thumb {
  background: rgb(255, 231, 74); 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: rgb(0, 0, 0); 
} 
@media only screen and (max-width: 768px){
    .site-main__item {
        margin: 0 auto;
        margin-bottom: 52px;
        text-align: center;
    }
    .site-main__section-heading {
        font-size: 32px;
        line-height: 32px;;
    }
    .site-main__list {
        text-align: center;
    }
    .site-main__section-img{
        display: none;
    }
    .site-main__section-img-bottom{
        display: none;
    }
}
@media only screen and (max-width: 490px){
    .site-main__section-heading {
        font-size: 32px;
        line-height: 32px;;
    }
    .site-main__list {
        text-align: center;
    }
    .site-main__section-img{
        display: none;
    }
    .site-main__section-img-bottom{
        display: none;
    }
}